<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>EscuelaTech::Agregar o modificar profesor</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container-fluid">
			<button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">p
					<a th:href="@{/admin/profesors}" class="nav-item nav-link">Volver</a>
				</div>
			</div>
		</div>
	</nav>
	<div class="container">
		<div class="container">
			<div class="row" style="min-height: 120px;"></div>
			<div class="row">
				<div class="col">
				</div>
				<div class="col">
					<h4 th:if="${profesor.idProfesor == 0}">Agregar profesor</h4>
					<h4 th:if="${profesor.idProfesor > 0}">Modificar profesor</h4>
					<br>
					<form action="#" th:action="@{/admin/profesores/guardar}" th:object="${profesor}" method="post">
						<input type="hidden" th:field="*{idProfesor}" name="idProfesor" id="idProfesor">
						<div class="form-group">
							<label for="nombres">Nombre</label> <input type="text" class="form-control" id="nombres"
								th:field="*{nombres}" name="nombre">
						</div>
						<div class="form-group">
							<label for="apellidos">Apellido</label> <input type="text" class="form-control" id="apellidos"
								th:field="*{apellidos}" name="apellidos">
						</div>
						<div class="form-group">
							<label for="dni">DNI</label> <input type="text" class="form-control" id="dni"
								th:field="*{dni}" name="dni">
						</div>
						<div class="form-group">
							<label for="celular">Celular</label> <input type="text" class="form-control" id="celular"
								th:field="*{celular}" name="celular">
						</div>
						<div class="form-group">
							<label for="direccion">Dirección</label> <input type="text" class="form-control" id="direccion"
								th:field="*{direccion}" name="direccion">
						</div>
						<div class="form-group">
							<label for="carrera">Carrera</label> <input type="text" class="form-control" id="carrera"
								th:field="*{carrera}" name="carrera">
						</div>
						<div class="form-group">
							<label for="universidad">Universidad</label> <input type="text" class="form-control" id="universidad"
								th:field="*{universidad}" name="universidad">
						</div>
						<br>
						<button type="submit" class="btn btn-success">Guardar</button>
						<button type="submit" class="btn btn-warning"
							th:formaction="@{/admin/profesores/volver}">Cancelar</button>
					</form>
				</div>
				<div class="col">
				</div>
			</div>
		</div>
		<div class="row" style="min-height: 120px;"></div>
	</div>
	</div>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
		crossorigin="anonymous"></script>
</body>

</html>